@import '_customer';
@import '_home';
// 2019-08-15
// "The «pre-printed» word on a home page's slider should not be wrapped to another line"
// https://github.com/clinessentials/core/issues/41
.clin-no-wrap {font-family: inherit; font-weight: inherit; white-space: nowrap;}
// 2019-08-15
// "The «Your transaction could not be completed at this time»
// is incorrectly positioned on the frontend checkout page":
// https://github.com/clinessentials/core/issues/31
.checkout-index-index .modals-wrapper {display: none;}